@inject IRoleRepository repository
@using Core.Data.Repositories.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.SearchModel.RoleSearch

@{
    ViewData["Title"] = "Роли";
}
<body class="bg-blue">
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <!-- Search form -->
                    <form asp-action="Search" asp-controller="Project" method="get">
                        <div class="input-group mb-4">
                            <input type="text" asp-for="Name" class="form-control rounded-pill" placeholder="Enter role name...">
                            <button type="submit" class="btn btn-primary rounded-pill">
                                Search
                            </button>
                        </div>
                    </form>
                    <!-- Results table -->
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th class="col-8">
                                    <h5 class="text-white">Roles</h5>
                                </th>
                                <th class="col-4 text-right">
                                    <a href="#" class="text-white">
                                        <i class="fas fa-plus-circle fa-lg"></i>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var role in Model.Roles)
                            {
                                <tr>
                                    <td>
                                        <div class="py-3">
                                            <h6>@role.Name</h6>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="text-primary mr-3">
                                                <i class="far fa-edit fa-lg"></i>
                                            </a>
                                            <a href="#" class="text-danger">
                                                <i class="far fa-trash-alt fa-lg"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>