@inject IRoleRepository repository
@using Core.Data.Repositories.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.Data.SearchModel.ProjectSearch

@{
    ViewData["Title"] = "Проекти";
}

<body class="bg-blue">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form asp-action="Search" asp-controller="Project" method="get" class="card border-0 rounded-0 shadow-sm">
          <div class="row align-items-center">
            <div class="col-md-4 mb-3">
              <input asp-for="Name" class="form-control rounded-pill shadow-sm" placeholder="Enter project name...">
            </div>
            <div class="col-md-4 mb-3">
              <input asp-for="Description" class="form-control rounded-pill shadow-sm" placeholder="Enter project description...">
            </div>
            <div class="col-md-2 mb-3">
              <button type="submit" class="btn btn-primary btn-block rounded-pill">
                Search
              </button>
            </div>
            <div class="col-md-2 mb-3">
              <a asp-controller="Project" asp-action="Create" class="btn btn-success btn-block rounded-pill">
                Create
              </a>
            </div>
          </div>
        </form>
        <table class="table table-hover table-striped mt-4">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Project Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var project in Model.Results)
            {
              <tr>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>
                  <a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" class="text-danger">
                    Delete
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
