@{
    ViewData["Title"] = "Начална страница";
}

<div class="container-fluid my-5 pb-5">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img src="images/vac.jpg" class=""/>
        </div>
        <div class="col-md-4 offset-md-2">
            <h1 class="text-center">Управление на проекти, отпуски и екипи</h1>
            <h3 class="text-center">Проект - Софтуерно инженерство</h3>
            <p class="lead text-center">Нашето приложение ви позволява да регистрирате своя персонал, да разпределяте роли и екипи и да разрешавате заявките им за отпуск, като същевременно гарантирате, че те имат достъп само до своята лична информация.</p>
            <div class="text-center">
                <a asp-action="Login" asp-controller="User" class="btn btn-primary btn-lg">Вход в системата</a>
            </div>
        </div>
    </div>
</div>
