@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Data.Enums
@model Core.Dto.VacationDTO

@{
    ViewData["Title"] = "Детайли за отпуск";
}

<body class="bg-light">
<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card p-4 shadow-sm">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2 class="text-center mb-4">Заявка за отпуск</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Име</label>
                    <input class="form-control" asp-for="ApplicantName" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Фамилия</label>
                    <input class="form-control" asp-for="ApplicantSurname" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Екип</label>
                    <input class="form-control" asp-for="ApplicantTeam" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Вид отпуск</label>
                    <input class="form-control" id="@Model.VacationType" asp-for="VacationType" readonly>
                </div>
                @if (Model.VacationType == VacationType.Sick)
                {
                    <div class="form-group">
                        <label class="control-label">Болничен лист</label>
                        <input type="submit" id="register" value="Подай" class="btn btn-primary rounded w-100"/>
                    </div>
                }
                <div class="form-group custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault" readonly>
                    <label class="custom-control-label" for="flexCheckDefault" asp-for="IsHalfDay">
                        Половин ден отпуск
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">От:</label>
                    <input type="date" autocomplete="off" class="form-control" placeholder="yyyy-mm-dd" asp-for="FromDate" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label">До:</label>
                    <input type="date" autocomplete="off" class="form-control" placeholder="yyyy-mm-dd" asp-for="ToDate" readonly/>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" id="register" value="Подай" class="btn btn-primary rounded w-100"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


<script>
	document.getElementById("Sick").innerText = "Болничен";
	document.getElementById("Paid").innerText = "Платен";
	document.getElementById("Unpaid").innerText = "Неплатен";

	function AddSickLeave() {
		if (document.getElementById('Sick').selected == true) {
			document.getElementById('file').style.display = "inline";
			document.getElementById('halfDay').style.display = "none";
		}
		else {
			document.getElementById('file').style.display = "none";
			document.getElementById('halfDay').style.display = "inline";
		}
	}

	$(function () {
		$('.dates #begin').datepicker({
			'format': 'yyyy-mm-dd',
			'autoclose': true
		});
	});
</script>