@using Core.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.ViewModels.VacationViewModel

@{
    ViewData["Title"] = "Редактирай отпуск";
}

<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 bg-white rounded shadow-sm">
                <form asp-action="Edit" asp-controller="Vacation" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2 class="text-center mb-4">Заявка за отпуск</h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="applicant-name" class="form-label">Име</label>
                            <input id="applicant-name" class="form-control" asp-for="ApplicantName" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="applicant-surname" class="form-label">Фамилия</label>
                            <input id="applicant-surname" class="form-control" asp-for="ApplicantSurname" readonly>
                        </div>
                        <div class="col-md-12">
                            <label for="applicant-team" class="form-label">Екип</label>
                            <input id="applicant-team" class="form-control" asp-for="ApplicantTeam" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="vacation-type" class="form-label">Вид отпуск</label>
                            <select id="vacation-type" class="form-control" onchange="AddSickLeave()" asp-for="VacationTypeText">
                                @foreach (VacationType vacation in Enum.GetValues(typeof(VacationType)))
                                {
                                    <option id="@vacation">@vacation</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="file" class="form-label">Болничен лист</label>
                            <input type="file" class="form-control" id="file" asp-for="File" accept="image/*,.pdf">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="is-half-day" asp-for="IsHalfDay">
                                <label class="form-check-label" for="is-half-day">Половин ден отпуск</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="from-date" class="form-label">От:</label>
                            <input type="date" id="from-date" class="form-control" asp-for="FromDate"/>
                        </div>
                        <div class="col-md-6">
                            <label for="to-date" class="form-label">До:</label>
                            <input type="date" id="to-date" class="form-control" asp-for="ToDate"/>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="is-approved" asp-for="Approved">
                                <label class="form-check-label" for="is-approved">Одобри отпуската</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group align-items-center text-center">
                    <input type="submit" id="register" value="Подай" class="btn btn-lg dark-button rounded"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
	document.getElementById("Sick").innerText = "Болничен";
	document.getElementById("Paid").innerText = "Платен";
	document.getElementById("Unpaid").innerText = "Неплатен";

	function AddSickLeave() {
		if (document.getElementById('Sick').selected == true) {
			document.getElementById('file').style.display = "inline";
			document.getElementById('halfDay').style.display = "none";
		}
		else {
			document.getElementById('file').style.display = "none";
			document.getElementById('halfDay').style.display = "inline";
		}
	}

	$(function () {
		$('.dates #begin').datepicker({
			'format': 'yyyy-mm-dd',
			'autoclose': true
		});
	});
</script>